table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align:left;
    padding: 8px;
  }

  
  #Matematiikka {
    background-color: #ffe0cc;
  }
  #Ohjelmointi {
    background-color: #cce0ff;
  }
  #Vapaa {
    background-color: #d6f5d6;
  }
  #Kuntosali {
    background-color: #707e70;
  }
  #Musta {
    background-color: #333;
    color:white;
  }
  
  